[Desktop Entry]
Name=MarkYoun
Exec=markyoun
Icon=/usr/share/MarkYoun/Nuevos Iconos/Creando Iconos/svg/icono.png
Type=Application
Categories=GTK;Utility;Text-Editor;